{% extends "base.html" %}

{% load i18n bootstrap3 %}

{% block content %}
    <h1>Añadir nueva publicación:</h1>
    <div class="row">
        <div class="col-lg-6">
            <form action="." method="post" class="form">
                {% csrf_token %}
                <table>
                    {% bootstrap_form news_form %}
                </table>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "start" %} {% trans "Submit" %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-lg-6">
            Si quiere borrar la noticia pulse en el boton de borrado
            <a href="{% url "news_delete" news_form.instance.pk %}" class="btn btn-danger">{%  trans "Delete news" %}</a>
        </div>
    </div>
{% endblock %}